@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
:root {
    --darkblue: hsl(233, 26%, 24%);
    --limegreen: hsl(136, 65%, 51%);
    --brightcyan: hsl(192, 70%, 51%);
    --grayishblue: hsl(233, 8%, 62%);
    --lightblue: hsl(220, 16%, 96%);
    --lightgray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --fontsize: 18px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--white);
    top: 0;
    width: 100%;
}

body {
    overflow-x: hidden;
}


/*===============================Header===============================*/

header {
    z-index: 5;
    display: flex;
    background: var(--white);
    height: 67px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.navlinks li {
    margin: 0 1em;
    list-style: none;
}

.navlinks li::after {
    /*Musst Klasse machen damit es nicht bei allen übernimmt*/
    content: '';
    width: 0%;
    height: 5px;
    margin: auto;
    display: block;
    position: relative;
    top: 1.3em;
    background: linear-gradient(to right, var(--brightcyan), var(--limegreen));
    transition: 0.5s;
}

.navlinks li:hover::after {
    width: 100%;
}

.navlinks a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--grayishblue);
    font-size: var(--fontsize);
    align-items: center;
    justify-content: center;
}

.request-invite {
    background: linear-gradient(to right, var(--brightcyan), var(--limegreen));
    text-decoration: none;
    color: var(--white);
    border-radius: 50px;
    padding: 0.5em 1.5em;
}

.header-invite {
    background: linear-gradient(to right, var(--brightcyan), var(--limegreen));
    text-decoration: none;
    color: var(--white);
    border-radius: 50px;
    padding: 0.5em 1.5em;
}


/*---------------------Burger---------------------*/

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--darkblue);
    margin: 5px;
    transition: 0.3s ease;
    border-radius: 50px;
}

@media screen and (max-width:1024px) {
    .navlinks {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .navlinks {
        position: absolute;
        margin: auto;
        height: 30vh;
        top: 15vh;
        padding: 1em;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        transform: translateY(-150%);
        transition: 0.5s ease-in;
        border-radius: 10px;
        z-index: 6;
    }
    .navlinks li {
        opacity: 0%;
        transition: 2s ease-in;
    }
    .burger {
        display: block;
    }
    .header-invite {
        display: none;
    }
}

.nav-active {
    transform: translateY(0%);
}

.nav-active li {
    opacity: 100%;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/*===============================MAIN===============================*/

.row {
    margin: auto;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}


/*===============================HERO===============================*/

.hero {
    position: relative;
    height: 50rem;
    width: 100%;
    background: var(--lightgray);
    display: flex;
    z-index: 1;
    background-image: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: right -400px top -250px;
    flex-direction: row-reverse;
    overflow: hidden;
}

.hero-images {
    width: 100%;
    height:100%;
    position: absolute;
    background: none;
    z-index: 2;
}

.hero-images img {
    left: 50%;
    position: absolute;
    bottom: -1.7rem;
    width: auto;
}

.hero-content {
    text-align: left;
    padding: 0;
    margin: auto;
    width:80%;
    z-index:5;
}

.hero-content a {
    text-align: left;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: -.71px;
    color: var(--darkblue);
}

.hero-content p {
    font-size: var(--fontsize);
    color: var(--grayishblue);
    max-width: 30rem;
    margin: 2.4rem 0 3.6rem;
    display: block;
}


/*===============================FEATURES ===============================*/

.features {
    padding: 4em 0;
    background: var(--lightblue);
}

.features h2 {
    font-size: 3em;
    font-weight: 200;
    color: var(--darkblue);
}

.features p {
    padding-bottom: 3em;
    font-size: var(--fontsize);
    font-weight: 200;
    color: var(--grayishblue);
}

.features-col {
    flex-basis: 25%;
    padding: 0 1em;
}

.features-col p {
    padding-top: 1em 1em;
    font-size: var(--fontsize);
    font-weight: 200;
    color: var(--grayishblue);
}

.features-col h3 {
    padding: 1.5em 0;
    font-size: 1.5em;
    font-weight: 400;
}

.features-title {
    margin: auto;
    width: 80%;
}


/*===============================ARTICLES===============================*/

.articles {
    background: var(--lightgray);
    padding: 4em 0;
}

.articles-title {
    margin: auto;
    width: 80%;
    padding-bottom: 2em;
}

.articles h2 {
    font-size: 3em;
    font-weight: 200;
    color: var(--darkblue);
}

.article-col {
    flex-basis: 25%;
    margin: 0 1em;
    background-color: var(--white);
    border-radius: 0 0 10px 10px;
}

.article-col img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 200px;
}

.cardcontent {
    margin: 2em;
}

.subtext {
    color: var(--grayishblue);
    font-size: 0.8em;
}

.cardcontent h3 {
    padding: 0.5em 0;
    font-weight: 400;
    color: var(--darkblue);
}

.cardtext {
    font-weight: 400;
    color: var(--grayishblue);
    font-size: 0.9em;
}


/*===============================FOOTER===============================*/

.footer {
    padding: 3em 0;
    background: var(--darkblue);
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    margin-top: 4em;
}

.icons a {
    margin: 0 0.2em;
}

.footer-link {
    color: var(--white);
}

.footer-links li {
    margin: 1em 0;
}

.footer-invite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-invite p {
    padding-top: 3em;
    color: var(--grayishblue);
}