@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
:root {
    --darkblue: hsl(233, 26%, 24%);
    --limegreen: hsl(136, 65%, 51%);
    --brightcyan: hsl(192, 70%, 51%);
    --grayishblue: hsl(233, 8%, 62%);
    --lightblue: hsl(220, 16%, 96%);
    --lightgray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --fontsize: 18px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*Header*/

header {
    display: flex;
    background: var(--white);
    height: 67px;
}

.row {
    margin: auto;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.hero {
    width: 100%;
    background: var(--lightgray);
}

.navlinks {
    display: flex;
    flex-direction: row;
}

.navlinks li {
    margin: 0 1em;
}

.navlinks li::after {
    /*Musst Klasse machen damit es nicht bei allen übernimmt*/
    content: '';
    width: 0%;
    height: 5px;
    margin: auto;
    display: block;
    position: relative;
    top: 1.3em;
    background: linear-gradient(to right, var(--brightcyan), var(--limegreen));
    transition: 0.5s;
}

.navlinks li:hover::after {
    width: 100%;
}

.navlinks a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--grayishblue);
    font-size: var(--fontsize);
    align-items: center;
    justify-content: center;
}

.request-invite {
    background: linear-gradient(to right, var(--brightcyan), var(--limegreen));
    text-decoration: none;
    color: var(--white);
    border-radius: 50px;
    padding: 0.5em 1.5em;
}


/*---------------------Mobile---------------------*/

.desktop-menu {
    display: flex;
    justify-content: center;
    display: block;
    /*Zeigt die Mobile Request nicht*/
}

.mobile-menu {
    display: none;
    /*Zeigt die Mobile Request nicht*/
}

.mobile-navlinks {
    padding: 1.5em;
    display: flex;
    background: crimson;
    position: absolute;
    width: 80%;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    color: white;
    align-items: center;
    top: 500px;
    left: -40px;
}

.mobile-navlinks li {
    padding: 0.5em 0;
    list-style: none;
    margin: auto;
}

.mobile-navlinks a {
    text-decoration: none;
    color: var(--white);
}

.burger {
    display: none;
}

@media (max-width:500px) {
    /*Desktop - Navbar */
    .desktop-menu {
        display: none;
    }
    .request-invite {
        display: none;
    }
    .mobile-menu {
        display: inline-flex;
    }
    .burger {
        display: inline-flex;
        background: chartreuse;
    }
}